<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>CS 348: Function3.1</title>
</head>

<body>
    <h1 style="font-size:1.5em">Feature 3.1: Register a Resident</h1>
    <p style="font-size:1.1em">This feature will register a resident based on the typed-in information.</p>
    <p style="font-size:1.1em">Caution: Please make sure that all text boxes are filled.</p>

    <form method="POST">
        <label>Name:</label>
        <input name="name"><br><br>

        <label>Career:</label>
        <input name="career"><br><br>

        <label>ResidentId:</label>
        <input name="residentId"><br><br>

        <label>PlateNum:</label>
        <input name="plateNum"><br><br>

        <label>RoomId:</label>
        <input name="roomId"><br><br>

    	<input type="submit" value="Add">
    </form>
</body>
</html>
