<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CS348: Function1</title>
</head>

<body>
    <h1 style="font-size:1.5em">Feature 1: Show Information of Residents</h1>
    <p style="font-size:1.1em">This feature will show the information of all residents in the database.</p>

    <hr>

    <h1 style="font-size:1.5em">Resident Information</h1>

    <p style="font-size:1.25em">Student</p>
    <p style="font-size:1.1em">Name, Resident Id, University, Career, Room #, Graduation Year, Major</p>

    <span style="white-space: pre-line">{{data1}}</span>

    <p style="font-size:1.25em">Employee</p>
    <p style="font-size:1.1em">Name, Resident Id, Company, Career, Room #, Job, Salary, EducationStatus</p>

    <span style="white-space: pre-line">{{data2}}</span>

    <p style="font-size:1.2em"><a href="/ ">Main Page</a></p>
</body>
</html>