<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CS348 Project</title>
</head>
<body>
    <p style="font-size:1.5em">Welcome to SmartApt!</p>
    <p style="font-size:1.2em">SmartApt is an information management system designed for apartments.
    Apartment managers usually have to face large quantity of information each day,
        and this system is developed to ease their jobs.</p>
    <p style="font-size:1.2em">The following three features are provided.</p>
    <ul>
        <li style="font-size:1.25em"><a href="/func1">Show Information of Residents</a></li>
        <li style="font-size:1.25em"><a href="/func2">Show Information of a Room</a></li>
        <p style="font-size:1.25em">Registration</p>
        <li style="font-size:1.25em"><a href="/func3">Register a Resident</a></li>
        <li style="font-size:1.25em"><a href="/func4">Register a Student</a></li>
        <li style="font-size:1.25em"><a href="/func5">Register an Employee</a></li>
        <li style="font-size:1.25em"><a href="/func6">Delete a Resident</a></li>
    </ul>
    <p style="font-size:1.5em">Enjoy!</p>
    <hr>
    <p style="font-size:1.1em">SmartApt utilizes Google Cloud Platform (GCP) service.</p>
    <p style="font-size:1.1em">Powered by Team 4 SQLorz</p>
    <p style="font-size:1.1em">CS348 Project, Purdue University</p>
    <p style="font-size:1.1em">Your feedback is appreciated! ---> wu1418@purdue.edu</p>
    <p style="font-size:1.1em">Last update: Dec. 8, 2020</p>
</body>
</html>