<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>CS 348: Function3.2</title>
</head>

<body>
    <h1 style="font-size:1.5em">Feature 3.2: Register a Student</h1>
    <p style="font-size:1.1em">This feature will register a student based on the typed-in information.</p>
    <p style="font-size:1.1em">Caution: Please make sure that all text boxes are filled.</p>

    <form method="POST">
        <label>Name:</label>
        <input name="name"><br><br>

        <label>School Name:</label>
        <input name="schoolName"><br><br>

        <label>Student Id:</label>
        <input name="studentId"><br><br>

        <label>Graduation Year:</label>
        <input name="graduationYear"><br><br>

        <label>Resident Id:</label>
        <input name="residentId"><br><br>

        <label>Major:</label>
        <input name="major"><br><br>

    	<input type="submit" value="Add">
    </form>
</body>
</html>
